@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --hot-pink: #fa66f7;
  --neon-green: #c1ff72;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --hot-pink: #fa66f7;
    --neon-green: #c1ff72;
    --tech-teal: #00e6df;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 30, 30, 30;
    --background-end-rgb: 30, 30, 30;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #000;  
}

.viewer {
  overflow: hidden;
}
.viewframe {
  position: relative;
}
.pane {
  position: absolute;
  left: 100vw;
  min-width: 100%;
}
.selected {
  left: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
